* {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: rgb(12, 11, 117)
}

.suggestions {
  border: 2px solid rgb(12, 11, 117);
  margin: 0px;
  list-style: none;
  width: 300px;
  padding-left: 0px;
}

.suggestions li {
  padding: 4px
}



.suggestion-highlighted, .suggestions li:hover  {
  background-color: rgb(12, 11, 117);
  color: white;
}

.searchBox {
  margin: 0px;
  width: 300px;
}
